
@font-face {
    font-family: Opensandbold;
    src: url(/Tipografía//OpenSans-Bold.ttf);
  }

  @font-face {
    font-family: OpensandRegular;
    src: url(/Tipografía/OpenSans-Regular.ttf);
  }

body{
    margin: 0;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.styleheader{
    background-image: url('./Imágenes/Fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vw;
    color:#f5f0ed;

}
.stylenav{
    display: flex;
    list-style: none;
    padding: 1em;
    gap: 1em;
    align-items: flex-end;
    justify-content: space-between;
}
.stylemenu{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1em;
}
.sytleinfoheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.styletittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 1px;
    background: #f5f0ed;
}

.styleinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infoCafeteria{
    display: flex;

}
.stylebrunch{
    background: #d03b40;
    width: 50vw;
    height: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.styleparty{
    background: #ded6c0;
    width: 50vw;
    height: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.styleproducts{
    background-image: url('./Imágenes/Fondo2.jpg');
    height: 36vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color:#f5f0ed;
}

.infoCafeteria1{
display: flex;
background: #f5f0ed;
}

.stylebrunch1{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1vw;
    align-items: flex-start;
}
.styleparty1{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    align-items: flex-start;
    gap: 1em;
}
.styleinfocafeteria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer{
    background: #241d1b;
    color: #f5f0ed;
    padding: 1em;
}

.styledesayunar{
    text-align: center;
}
